<a href="https://colab.research.google.com/github/Shona1709/ML/blob/Data-Science/Demo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Learning outcomes**

1.   Understand and define variables,keywords and operators
2.   Build mathematical expressions using Python
3.  Understand and determine datatypes of
values
4.   Define string variables and apply inbuilt string manipulation functions
5.   Implement conditional if -else constructs

**Use of comments**

*   Comments are lines of text  in your code used to describe the code
*   To write a comment in Python, just add a hash mark (#) before your comment text

In [ ]:
#This is a comment line

**Print function**

In [ ]:
print("Hello")
print('Hello')

Hello
Hello

**Syntax error**

In [ ]:
print(Preface)

NameError: name 'Preface' is not defined

**Variables**

---


A placeholder to hold any type of data

In [ ]:
a=3
print(a)

3

In [ ]:
print('a')

a

In [ ]:
string1='Artificial intelligence'
print(string1)

Artificial intelligence

**Keywords**

---
Reserved words that cannot be used as variables

*and,as,not,else,if,elif,import,def,break and so on*

In [ ]:
def=123

SyntaxError: invalid syntax (<ipython-input-11-0e78859b7116>, line 1)

**Operators**


---


*   Assignment
*   Arithmetic
*   Comparison
*   Logical

Arithmetic operators


---

In [ ]:
#Addition
a=2
b=3
c=a+b
print('Addition =',c)

Addition = 5

In [ ]:
c=2+3
print(c)

5

In [ ]:
#Subtraction
c=a-b
print('Subtraction =',c)

Subtraction = -1

In [ ]:
#Multiplication
c=a*b
print('Multiplication =',c)

Multiplication = 6

In [ ]:
#Division
c=a/b
print('Division =',c)

Division = 0.6666666666666666

Comparison operators

---

In [ ]:
#Equal to
var1=12==13
print(var1)

False

In [ ]:
var1=12
var2=13
print(var1==var2)

False

In [ ]:
#Not Equal to
var1=12!=13
print(var1)

True

In [ ]:
#Greater than
var1=12.4>13
print(var1)

False

In [ ]:
#Lesser than
var1=13<15
print(var1)

True

In [ ]:
#Greater than or equal to
var1=13>=13
print(var1)

True

In [ ]:
var1=28>=21
print(var1)

True

In [ ]:
#Lesser than or equal to
var1=33<=90
print(var1)

True

In [ ]:
#Comparision with strings
string1='Hello'
string2='Hello'
print(string1==string2)

True

In [ ]:
Error case
print(string1=string2)

SyntaxError: invalid syntax (<ipython-input-26-b38fa74e009a>, line 1)

In [ ]:
string3='Preface Coding'
string4='Preface'
print(string3>string4)

True

In [ ]:
print(string4<string3)

True

Logical operators

---


Rules for AND operator

Requires both the parameter values to evaluate to true for an output of True

In [ ]:
#Use of AND,OR,NOT
result=(10<17)and(5>2)
print(result)

True

In [ ]:
result=(19==19)and (3>31)
print(result)

False

Rules for OR operator

Requires any one of the parameter values to evaluate to true for an output of True

In [ ]:
result=(10<17)or(5<2)
print(result)

True

NOT operator

In [ ]:
print(not(4>6))

True

In [ ]:
print(not(456.6==456.6))

False

**Data types**


---

*   Numbers
*   Boolean
*  String

In [ ]:
#use type function to identify the data type of a value
x=5.67
type (x)

float

In [1]:
type(True)

bool

In [2]:
type('A demo class')

str

In [ ]:
#Reading an input
var6 = input('Enter your age')
print("The age you entered is ",var6)

Enter your age89
The age you entered is  89

**String functions**

---


1.   **format()**

    Replaces the placeholder {} in the string with the argument provided

2.   **lower()**

    Returns a string with uppercase characters converted to lowercase


3.   **upper()**
    
    Returns a string with lowercase characters converted to uppercase

4.   **len()**

    Returns the length of a string


5.  **find()**

    Returns the index of the first occurence of the search argument

6. **replace()**

    Replaces the occurence of the first argument with the second argument in the string

In [3]:
#format()
str1='Fred scored {} out of {} in a test'
print(str1.format(3,10))

Fred scored 3 out of 10 in a test

In [4]:
#lower()
str2='London City'
print(str2.lower())

london city

In [5]:
#upper()
print(str2.upper())

LONDON CITY

In [6]:
#len()
print(len(str2))

11

In [14]:
#find()
print(str2.find('n'))

2

In [15]:
print(str2.find('c'))

-1

In [16]:
#replace()
print(str2.replace('o','O'))

LOndOn City

In [17]:
print(str2)

London City

**Conditional Constructs if-else**

![image.png]()

In [4]:
#if construct
num=3
if num==3:
print('The number is ',num)

IndentationError: expected an indented block after 'if' statement on line 3 (<ipython-input-4-2120c7e3e314>, line 4)

In [5]:
num=3
if num==3:
  print('The number is ',num)

The number is  3

In [7]:
num=3
if num==3:
  print('The number is 3')
else :
  print('The number is not 3')

The number is 3

In [9]:
#Nesting constructs
num1=int(input('Enter num1'))
num2=int(input('Enter num2'))

if num1>num2:
  if num1+num2>10:
      print('Execution in the nested if')
  else:
      print('Execution in the nested else')

else:
  print('Execution in the outer else')

Enter num13
Enter num210
Execution in the outer else